<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="../img/메인아이콘-removebg-preview.png" sizes="50x50" type="image/png">

    <!-- 직접만든 css들 -->
    <link rel="stylesheet" href="../css/total.css">
    <link rel="stylesheet" href="../css/topbar.css">
    <link rel="stylesheet" href="../css/studyGruop.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js'></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        <%= title %>
    </title>
    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <style>
        /* 날짜 글씨 색상을 검은색으로 설정 */
        .fc-daygrid-day {
            position: relative;
        }
        .fc-daygrid-day-events {
            max-height: 45px; /* Adjust this height as needed */
        }
        .fc-event-title,
        .fc-daygrid-event-dot,
        .fc-daygrid-day-number,
        .fc-list-event-title,
        .fc-col-header-cell,
        .fc-col-header-cell-cushion,
        .fc-day-header,
        .fc-toolbar-title {
            text-decoration: none !important;
        }

        .fc-daygrid-day-number {
            color: black;
        }

        .fc-col-header-cell-cushion {
            color: black;
        }

        .fc-day-sat .fc-daygrid-day-number {
            color: blue;
        }

        .fc-day-sun .fc-daygrid-day-number {
            color: red;
        }
        .colorbox {
            display: flex;
            flex-wrap: wrap;
            width: 165px;
            margin-top: 10px;
            border: 2px solid #cccccc;
            border-radius: 10px;
            background-color: #f9f9f9;
        }
        .color-radio {
            display: none;
        }
        .color-label {
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin: 10px;
            cursor: pointer;
            border: 2px solid transparent;
        }
        .color-label:hover {
            border-color: #333;
        }
        .color-radio:checked + .color-label {
            border-color: #000;
        }
    </style>
    <style>
        .slidddddd {
            position: relative;
            width: 1600px;
            height: 800px;
            overflow: hidden;
            border: 2px solid #333;
        }

        .slidddddd img {
            position: absolute;
            width: 690px;
            height: 345px;
            top: 55%;
            left: 100%;
            transform: translateY(-50%);
            animation: move 18s linear infinite;
        }

        .slidddddd img:nth-child(1) {
            animation-delay: 0s;
        }

        .slidddddd img:nth-child(2) {
            animation-delay: 4.5s;
        }

        .slidddddd img:nth-child(3) {
            animation-delay: 9s;
        }

        .slidddddd img:nth-child(4) {
            animation-delay: 13.5s;
        }
        .first_cloolr {
            color: burlywood;
        }
        .sec_coloo{
            color: yellow;
        }
        .color3{
            color: deepskyblue;
        }
        .color4{
            color: deeppink;
        }
        .slidddddd .caption {
            display: inline !important;
            position: absolute;
            font-family: Arial, sans-serif;
            font-size: 12px !important;
            padding: 10px;
            padding-left: 17px;
            width: 220px;
            height: 90px;
            top: 26%;
            left: 100%;
            margin-left: 250px;
            transform: translateY(-50%);
            animation: move 18s linear infinite;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 24px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            background-color: #333;
        }

        .slidddddd .caption:nth-child(5) {
            animation-delay: 0s;
        }

        .slidddddd .caption:nth-child(6) {
            animation-delay: 4.5s;
        }

        .slidddddd .caption:nth-child(7) {
            animation-delay: 9s;
        }

        .slidddddd .caption:nth-child(8) {
            animation-delay: 13.5s;
        }

        @keyframes move {
            0% {
                left: 100%;
            }
            100% {
                left: -100%;
            }
        }




        
    </style>
</head>



<body id="page-top">
    <!-- Page Wrapper -->


    <div id="wrapper">
        <%- include('sidebar') %>
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content">
                    <%- include('topbar') %>
                        <!-- Begin Page Content -->
                        <div class="container-fluid">
                            <div class="custom-row">
                                <% if(user){%>
                                    <!-- Calendar Column -->
                                    <div class="calendar-column">
                                        <!-- Calendar -->
                                        <div id='calendar' style="height: 1100px; width: 1100px; margin-left: 50px;">
                                        </div>

                                        <!-- Modal add-->
                                        <div class="modal fade" id="eventModal" tabindex="-1"
                                            aria-labelledby="eventModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="eventModalLabel">일정 입력</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <form id="eventForm">
                                                        <div class="modal-body">
                                                            <div class="mb-3">
                                                                <label for="eventTitle" class="form-label">일정 제목</label>
                                                                <input type="text" class="form-control" id="eventTitle" name="msche_title" required style="margin-bottom: 10px;">
                                                                날짜<br>
                                                                <input type="date" id="selectedStartDate" name="msche_st_dt" readonly style="margin-top: 10px; margin-bottom: 10px;"> ~ 
                                                                <input type="date" id="selectedEndDate" name="msche_ed_dt" readonly style="margin-top: 10px; margin-bottom: 10px;">
                                                                    <br>
                                                                    일정 색상 선택 <br>
                                                                    <div class="colorbox">
                                                                        <input type="radio" id="color1" name="msche_color" class="color-radio" value="#df5454">
                                                                        <label for="color1" class="color-label" style="background-color: #df5454;"></label>
                                                                        
                                                                        <input type="radio" id="color2" name="msche_color" class="color-radio" value="#eca957">
                                                                        <label for="color2" class="color-label" style="background-color: #eca957;"></label>
                                                                        
                                                                        <input type="radio" id="color3" name="msche_color" class="color-radio" value="#dfe458">
                                                                        <label for="color3" class="color-label" style="background-color: #dfe458;"></label>
                                                                        
                                                                        <input type="radio" id="color4" name="msche_color" class="color-radio" value="#67ee4c">
                                                                        <label for="color4" class="color-label" style="background-color: #67ee4c;"></label>
                                                                        
                                                                        <input type="radio" id="color5" name="msche_color" class="color-radio" value="#56dae6">
                                                                        <label for="color5" class="color-label" style="background-color: #56dae6;"></label>
                                                                        
                                                                        <input type="radio" id="color6" name="msche_color" class="color-radio" value="#518ff3">
                                                                        <label for="color6" class="color-label" style="background-color: #518ff3;"></label>
                                                                        
                                                                        <input type="radio" id="color7" name="msche_color" class="color-radio" value="#7661ee">
                                                                        <label for="color7" class="color-label" style="background-color: #7661ee;"></label>
                                                                        
                                                                        <input type="radio" id="color8" name="msche_color" class="color-radio" value="#ec62ec">
                                                                        <label for="color8" class="color-label" style="background-color: #ec62ec;"></label>
                                                                    </div>
                                                                <input type="hidden" class="mem_id" name="mem_id"
                                                                    value="<%= user.mem_id %>">
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">취소</button>
                                                            <button type="submit" class="btn btn-primary"
                                                                id="saveEvent">저장</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Modal delete-->
                                        <div class="modal fade" id="deleteModal" tabindex="-1"
                                            aria-labelledby="deleteModalLabel" aria-hidden="true">
                                            <form id="deleteForm">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="deleteModalLabel">일정 체크</h5>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                            <input type="hidden" class="mem_id" name="mem_id"
                                                                value="<%= user.mem_id %>">
                                                            <input type="hidden" id="deletedTitle" name="msche_title">
                                                            <input type="hidden" id="deletedStartDate"
                                                                name="msche_st_dt">
                                                            <input type="hidden" id="deletedEndDate" name="msche_ed_dt">
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>일정을 완료하셨나요? </p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-primary"
                                                                id="completeEvent">완료</button>
                                                            <button type="submit" class="btn btn-danger"
                                                                id="confirmDelete">삭제</button>
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">취소</button>
                                                        </div>
                                                    </div>
                                            </form>
                                        </div>
                                    </div>
                            </div>
                            <% }else{ %>
                                <div class="slidddddd">
                                    <img src="../img/일정추가.gif" alt="Image 1">
                                    <img src="../img/일정-검색.gif" alt="Image 2">
                                    <img src="../img/일정-수행률.gif" alt="Image 3">
                                    <img src="../img/자격증-입력_보여주기.gif" alt="Image 4">
                                    <div class="caption">
                                        $(<span class="color4">일정추가</span>).<span class="sec_coloo">캘린더_클릭</span>() => {
                                        <br>
                                        <span class="color3">1.</span>일정제목 입력<br>
                                        <span class="color3">2.</span>일정 저장<br>
                                        }
                                    </div>
                                    <div class="caption">
                                        $(<span class="color4">일정_검색</span>).<span class="sec_coloo">검색창_클릭</span>() => {
                                        <br>
                                        <span class="color3">1.</span> 자신이 찾고싶은 일정 검색 <br> <span class="color3">2.</span> 일정 소환
                                        <br>
                                    }
                                    </div>
                                    <div class="caption">
                                        $(<span class="color4">일정_수행률</span>).<span class="sec_coloo">내_정보_클릭</span>() => {
                                        <br>
                                        <span class="color3">1.</span> 일정 완료누르기 <br> <span class="color3">2.</span> 일정 성공률 백분율 보여줌
                                        <br>
                                    }
                                    </div>
                                    <div class="caption">
                                        $(<span class="color4">자격증</span>).<span class="sec_coloo">자격증입력_보기</span>() => {
                                        <br>
                                        <span class="color3">1.</span> 취득한 자격증 입력 <br> <span class="color3">2.</span> 내 자격증 테이블에 자동추가
                                        <br>
                                    }
                                    </div>
                                    
                                </div>
                                
                            <% } %>
                                <!-- Right Column for EJS Template -->
                                <div class="content-column">
                                    <%- body %>
                                </div>
                        </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>스마트 인재 개발원 SW캠프 언어지능 과정 JOB-A &copy; 문승명, 임형선, 김지성, 이선우</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <% if (user){ %>
        <script>
            // 캘린더 스크립트
            document.addEventListener('DOMContentLoaded', function () {
                var calendarEl = document.getElementById('calendar');
                var selectedStartDate, selectedEndDate, eventId;
                const holidaysColor = '#FC9E99';
                var holidays = [
                    { title: '신정', start: '2024-01-01'},
                    { title: '설날', start: '2024-02-10', end: '2024-02-12' },
                    { title: '삼일절', start: '2024-03-01' },
                    { title: '어린이날', start: '2024-05-05' },
                    { title: '부처님 오신 날', start: '2024-05-15' },
                    { title: '현충일', start: '2024-06-06' },
                    { title: '광복절', start: '2024-08-15' },
                    { title: '추석', start: '2024-09-16', end: '2024-09-18' },
                    { title: '개천절', start: '2024-10-03' },
                    { title: '한글날', start: '2024-10-09' },
                    { title: '크리스마스', start: '2024-12-25' },
                    { title: '대체공휴일 (설날)', start: '2024-02-12' },
                    { title: '대체공휴일 (어린이날)', start: '2024-05-06' },
                    { title: '대체공휴일 (추석)', start: '2024-09-18' }
                ].map(event => ({ ...event, color: holidaysColor }));;


                var calendar = new FullCalendar.Calendar(calendarEl, {
                    locale: 'ko',
                    initialView: 'dayGridMonth',
                    selectable: true,
                    // 드래그로 일정추가
                    select: function (info) {
                        selectedStartDate = info.startStr
                        selectedEndDate = info.endStr
                        var eventModal = new bootstrap.Modal(document.getElementById('eventModal'));
                        document.getElementById('selectedStartDate').value = selectedStartDate;
                        document.getElementById('selectedEndDate').value = selectedEndDate;
                        eventModal.show();
                    },
                    // 클릭으로 일정 삭제
                    eventClick: function (info) {                        
                        selectedEvent = info.event;
                        document.getElementById('deletedTitle').value = selectedEvent.title;
                        document.getElementById('deletedStartDate').value = selectedEvent.startStr;
                        document.getElementById('deletedEndDate').value = selectedEvent.endStr;
                        var deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'));
                        deleteModal.show();
                    },
                    dayCellContent: function (info) {
                        var number = document.createElement("a");
                        number.classList.add("fc-daygrid-day-number")
                        number.innerHTML = info.dayNumberText.replace("일", '').replace("日", "");
                        if (info.view.type === "dayGridMonth") {
                            return {
                                html: number.outerHTML
                            };
                        }
                        return {
                            domNodes: []
                        };
                    },
                    eventSources : [{
                        events: function (fetchInfo, successCallback, failureCallback) {
                        $.ajax({
                            url: '/schedule/mschedule',
                            type: 'GET',
                            dataType: 'json',
                            success: function (data) {
                                successCallback(data);
                            },
                            error: function () {
                                failureCallback();
                                console.log('실패');
                            }
                        });
                        }
                    },
                    {
                        events: holidays
                    }
                    ]
                    
                });


                calendar.render();

                var saveButton = document.getElementById('saveEvent');

                // 입력 필드의 값을 모니터링하여 변경이 있을 때마다 확인합니다.
                document.getElementById('eventTitle').addEventListener('input', function() {
                    // 입력 필드의 값이 비어 있는지 확인합니다.
                    if (this.value.trim() === '') {
                        // 값이 비어 있으면 저장 버튼을 비활성화합니다.
                        saveButton.disabled = true;
                    } else {
                        // 값이 채워져 있으면 저장 버튼을 활성화합니다.
                        saveButton.disabled = false;
                    }
                });

                    // 초기에도 입력값이 없으면 저장 버튼을 비활성화합니다.
                    if (document.getElementById('eventTitle').value.trim() === '') {
                        saveButton.disabled = true;
                    }

                document.getElementById('saveEvent').addEventListener('click', function () {
                    var eventTitle = document.getElementById('eventTitle').value;
                    var selectedColor = document.querySelector('.color-radio:checked').value;
                    var addString = $("#eventForm").serialize();
                    $.ajax({
                        type: 'post',
                        url: '/schedule/add',
                        data: addString,
                        error: function (xhr, status, error) {
                            console.log("실패");
                        },
                        success: function (json) {
                            console.log("성공");
                        }
                    });
                    if (eventTitle) {
                        calendar.addEvent({
                            title: eventTitle,
                            start: selectedStartDate,
                            end: selectedEndDate,
                            color: selectedColor
                        });
                        var eventModal = bootstrap.Modal.getInstance(document.getElementById('eventModal'));
                        eventModal.hide();
                        document.getElementById('eventForm').reset();
                    }
                });
                document.getElementById('confirmDelete').addEventListener('click', function (event) {
                    event.preventDefault();
                    if (selectedEvent) {
                        selectedEvent.remove();
                        var deleteString = $("#deleteForm").serialize();
                        $.ajax({
                            type: 'post',
                            url: '/schedule/remove',
                            data: deleteString,
                            error: function (xhr, status, error) {
                                console.log("실패");
                            },
                            success: function (json) {
                                console.log("성공");
                            }
                        });
                        var deleteModal = bootstrap.Modal.getInstance(document.getElementById('deleteModal'));
                        deleteModal.hide();
                    }
                });
                document.getElementById('completeEvent').addEventListener('click', function (event) {
                    event.preventDefault();
                    if (selectedEvent) {
                        var deleteString = $("#deleteForm").serialize();
                        $.ajax({
                            type: 'post',
                            url: '/schedule/complete',
                            data: deleteString,
                            error: function (xhr, status, error) {
                                console.log("실패");
                            },
                            success: function (json) {
                                console.log("성공");
                            }
                        });
                        var deleteModal = bootstrap.Modal.getInstance(document.getElementById('deleteModal'));
                        deleteModal.hide();
                    }
                });
            });

        </script>
        <% } %>
            <!-- 기존 스크립트 태그들 -->
</body>
<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>
<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>
<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>
<script src="js/demo/chart-bar-demo.js"></script>
<script>
    // 로그인을 안할시엔 띄워주기
    $(document).on('click', '#login_plz', function (e) {
        Swal.fire({
            text: '로그인이 필요한 기능입니다',
            confirmButtonColor: '#ffcd00',
            confirmButtonText: '확인'
        });
    });

</script>
<!-- FullCalender template -->
<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css' rel='stylesheet' />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</html>